<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Tracker</title>
</head>
<body>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-restaurant" method="post">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="location" placeholder="Location"/>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="comments" placeholder="Comments"/>
    <button type="submit">Submit</button>
</form>



<form action="/delete-restaurant" method="post">
    <input type="number" name="id" placeholder="#"/>
    <button type="submit">Delete Restaurant</button>
</form>

<form action="/edit-restaurant" method="post">
    <input type="number" name="id" placeholder="#">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="location" placeholder="Location"/>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="comments" placeholder="Comments"/>
    <button type="submit">Edit</button>
</form>

<ul>
    {{#restaurants}}
    <li>{{id}} <b>{{name}}</b> - {{location}} - {{rating}} (rating) - {{comment}}</li>
    {{/restaurants}}
</ul>
</body>
</html>